@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background: #151515;
  color: white;
}

.main-layout{
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 10% 90%;
}

.main-body{
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20% 80%;
}

.main-sidebar{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-content{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
}
